{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}},
    {gproc, {git , "git@github.com:uwiger/gproc.git", {branch, "master"}}}
  ]}.
{relx, [{release, {ztalk, "0.0.1"},
  [ztalk]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true},
  {overlay, [{copy, "Procfile", "Procfile"}]}
]}.
{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]}
]}.
